@mixin size($height:100vh,$width:100%){
    width:$width;
    min-height: $height;
}
@mixin size($height:100vh,$width:100%){
    width:$width;
    min-height: $height;
}
@mixin background($url){
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(1,87,155,0.3)),url($url) ;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);
}

@mixin  layout($blur:3px,$opacity:0.2) {
    min-width: 100%;
    position: relative;
    background: linear-gradient(rgba(10,25,47,$opacity),rgba(10,25,47,$opacity));
    backdrop-filter: blur($blur);
}